.post-list {
    list-style: none;
    margin: 0;
    padding: 0;
    &--entry {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        position: relative;
        &::after {
            background-color: #999;
            bottom: 0;
            content: "";
            left: 0;
            height: .0625rem;
            margin: {
                right: auto;
                left: auto;
            }
            position: absolute;
            right: 0;
            width: 6.25rem;
        }
    }
}

.post-title {
    font: {
        family: var(--heading-font-family);
        size: 1.8rem;
        weight: 400;
    }
    margin: {
        top: 0;
        bottom: 0;
    }
    & a {
        color: var(--brand-color);
        text-decoration: none;
    }
}

.post-bottom-navigation {
    padding-top: 1rem;
    text-align: center;
}

.read-more {
    align-items: center;
    background: var(--brand-color);
    color: #fff;
    display: inline-flex;
    font-weight: 500;
    padding: {
        top: .5rem;
        right: 1.2rem;
        bottom: .5rem;
        left: 1.2rem;
    }
    text-decoration: none;
    margin: 0 auto;
    & span {
        font-size: 1.5rem;
        margin-left: 1ch;
    }
    &:hover {
        background-color: var(--link-hover-color);
    }
    &:focus {
        background-color: var(--link-focus-color);
        outline: 0 none;
    }
    &:focus-visible {
        outline: 2px solid var(--link-focus-color);
    }
    &:active {
        background-color: var(--link-focus-color);
        outline: none;
    }
}

/* Site pagination*/
.site-bottom-navigation {
    margin: {
        top: 4rem;
        bottom: 3rem;
    }
}

.site-pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    &--item {
        margin: {
            right: .2rem;
            left: .2rem;
        }
    }
    &--link {
        color: var(--brand-color);
        display: block;
        font-weight: 600;
        padding: {
            top: .5rem;
            right: 1rem;
            bottom: .5rem;
            left: 1rem;
        }
        text-decoration: none;
        &:hover:not([aria-current="true"]) {
            background-color: var(--link-hover-color);
            color: #fff;
        }
        &:focus:not([aria-current="true"]) {
            background-color: var(--link-focus-color);
            color: #fff;
            outline: 0 none;
        }
        &:focus-visible:not([aria-current="true"]) {
            outline: 2px solid var(--link-focus-color);
        }
        &:active:not([aria-current="true"]) {
            background-color: var(--link-focus-color);
            color: #fff;
            outline: none;
        }
        &[aria-current="true"] {
            background-color: var(--brand-color);
            color: #fff;
            pointer-events: none;
        }
    }
}