.post-meta {
    color: #666;
    font-size: .8rem;
    margin-bottom: 1.5rem;
    & a {
        @media print {
            &::after {
                content: " (" attr(href) ")";
            }
        }
    }
}

.article-section {
    margin-bottom: 3rem;
}

.list-section ul {
    margin: 0;
   & li {
        padding-left: .4rem;
        &:not(:last-child) {
            margin-bottom: .2rem;
        }
        &::marker {
            color: var(--brand-color);
            content: "⛧";
            font: {
                size: 1.2rem;
                weight: 700;
            }
        }
    }
}

.resources-section {
    & h2 {
        margin-bottom: .5rem;
    }
    & ul {
        margin-top: 0;
        & li:not(:last-child) {
            margin-bottom: .2rem;
        }
    }
    & a {
        @media print {
            &::after {
                content: " (" attr(href) ")";
            }
        }
    }
}

.post-tip {
    background-color: #f9f9f9;
    border: .125rem dashed var(--brand-color);
    padding: 1rem;
}

pre {
    &[class*="language-"] {
        background-color: #f9f9f9;
        border: .0625rem dashed #000;
        overflow: auto;
        padding: 1rem;
        position: relative;
        @media print {
            background-color: #fff;
        }
    }
    &[class*="language-css"]::before {
        background-color: #dfdddd;
        color: #333;
        content: "CSS";
        font: {
            family: "Roboto", sans-serif;
            size: .6rem;
            weight: 600;
        }
        position: absolute;
        right: .5rem;
        top: 0;
        padding: {
            top: .2rem;
            right: .5rem;
            bottom: .1rem;
            left: .5rem;
        }
    }
    
}

code {
    &[class*="language-"] {
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        color: #ea6155;
        @media print {
            color: #000;
        }
    }
    &:not([class*="language-"]) {
        background-color: #000;
        color: #fff;
        display: inline-block;
        font-weight: 600;
        line-height: 1;
        padding: {
            top: .2rem;
            right: .3rem;
            bottom: .1rem;
            left: .3rem;
        }
    }
}

kbd {
    background-color: #555;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    padding: {
        top: .2rem;
        right: .3rem;
        bottom: .1rem;
        left: .3rem;
    }
}
