@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "normalize.css";
@import "home.css";
@import "layout.css";
@import "post.css";
@import "prism.css";

:root {
    --background-color: #f1f1f1;
    --primary-font-color: #111;
    --brand-color: #c41d44;
    --heading-font-family: Georgia, 'Times New Roman', Times, serif;
    --layout-max-width: 50rem;
    --link-hover-color: #b31a3e;
    --link-focus-color: #8b1631;
    --logo-fill-color: #000;
}
    @media (prefers-color-scheme: dark) {
        :root {
            --background-color: #0d1117;
            --primary-font-color: #fdfdfd;
            --brand-color: #ff2659;
            --link-hover-color: #d31a45;
            --link-focus-color: #b80831;
            --logo-fill-color: #f0f6fc;
        }
    }

body {
    background-color: var(--background-color);
    color: var(--primary-font-color);
    font-family: "Roboto", sans-serif;
}
    @media screen and (max-width: 840px) {
        body {
            padding-right: 1rem;
            padding-left: 1rem;
        }
    }
    @media print {
        body {
            background-color: #fff;
        }
    }

a:not(.read-more, .site-pagination--link) {
    color: var(--brand-color);
    text-decoration: none;
}
    a:not(.read-more, .site-pagination--link):hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }
    a:not(.read-more, .site-pagination--link):active {
        color: var(--link-focus-color);
        text-decoration: underline;
        outline: none;
    }
    a:not(.read-more, .site-pagination--link):focus {
        color: var(--link-focus-color);
        outline: 0 none;
    }
    a:not(.read-more, .site-pagination--link):focus-visible {
        outline: 2px solid var(--link-focus-color);
    }
    @media print {
        a:not(.read-more, .site-pagination--link) {
            color: #000;
        }
    }

/* Helpers */
.h-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media print {
    .print-hide {
        display: none;
    }
}